@use '../colors.scss';
@use '../variables.scss';
@use 'sass:color';
.btn {
  outline: none;
  transition-duration: variables.$transition-duration;
  border: none;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: .25);
  padding: 0 100px;
  border-radius: variables.$radius-1;
  color: colors.$gray-1;
  &:focus{
    outline: none;
  }
}
.btn:focus::-moz-focus-inner {
  border: none;
}
.primary {
  background-color: colors.$primary-3;

  &:hover{
    background-color: color.adjust(colors.$primary-3, $lightness: +6%)
  }
}
.disabled {
  cursor: progress;
}