@use '../colors.scss';
@use '../variables.scss';

.info{
  p{
    margin-bottom: 0;
    font-size: .8rem;
  }
  margin: 1rem 0;
}
.card {
  h2{
    color: colors.$gray-1;
  }
  background: colors.$primary-1;
  color: colors.$gray-1;
  max-width: 320px;
  padding: 1.3rem;
  border-radius: variables.$radius-2;
  border: 2px solid colors.$gray-4;
}
.footer {
  display: flex;
}
.ingredient_item{
  color: colors.$gray-1;
}
.ingredient_item::marker{
  color: colors.$accent-3;
  font-size: 25px;
}
.ingredient_list {
  padding-left: 1.2rem;
}