 $white: #F5F5F2;
 
 $primary-3: #FFCC66;
 $primary-2: #FFF1D4;
 $primary-1: #FFF5E1;
 
 $accent-3: #00B6A1;
 
 $gray-1: #273447;
 $gray-2: #525D6C;
 $gray-3: #A9AEB5;
 
 $secondary-3: #FE5A27;

 $primary-gradient: linear-gradient(180deg, rgba(255,170,0,1) 0%, rgba(254,90,39,1) 100%);