 @use 'sass:color';

 $white: #F5F5F2;
 
 $primary-3: #FFCC66;
 $primary-2: #FFF1D4;
 $primary-1: #FFF5E1;
 $primary-4: color.adjust($primary-3, $lightness: -30%);
 
 $accent-3: #00B6A1;
 
 $gray-1: #273447;
 $gray-2: #525D6C;
 $gray-3: #A9AEB5;
 $gray-4: #D3D1C5;

 
 $secondary-3: #FE5A27;

 $red-1: #fff1f0;
 $red-2: #ffccc7;
 $red-3:#ffa39e;
 $red-4: #ff7875;
 $red-5: #ff4d4f;
 $red-6:#f5222d;
 $red-7: #cf1322;
 $red-8: #a8071a;
 $red-9:#820014;
 $red-10:#5c0011;

 $accent-3: #00B6A1;


 $primary-gradient: linear-gradient(180deg, rgba(255,170,0,1) 0%, rgba(254,90,39,1) 100%);