 @use 'sass:color';

 $white: #F5F5F2;
 
 $primary-3: hsl(40, 100%, 70%);
 $primary-2: hsl(40, 100%, 92%);
 $primary-2-5: hsl(40, 40%, 80%);
 $primary-1: hsl(40, 100%, 94%);
 $primary-4: color.adjust($primary-3, $lightness: -30%);
 
 $accent-3: #00B6A1;
 
 $gray-1: hsl(216, 29%, 22%);
 $gray-2: hsl(215, 14%, 37%);
 $gray-3: hsl(215, 8%, 69%);
 $gray-4: hsl(0, 0%, 85%);

 
 $secondary-3: #FE5A27;

 $red-1: #fff1f0;
 $red-2: #ffccc7;
 $red-3:#ffa39e;
 $red-4: #ff7875;
 $red-5: #ff4d4f;
 $red-6:#f5222d;
 $red-7: #cf1322;
 $red-8: #a8071a;
 $red-9:#820014;
 $red-10:#5c0011;

 $accent-3: #00B6A1;

 $success-1: hsl(120, 42%, 97%);
 $success-2: hsl(120, 45%, 77%);
 $success-3: hsl(120, 42%, 57%);
 $success-4: hsl(120, 32%, 37%);



 $primary-gradient: linear-gradient(180deg, rgba(255,170,0,1) 0%, rgba(254,90,39,1) 100%);