@use './colors.scss';
@use  './variables.scss';

.header {
  background-color: colors.$gray-1;
  padding: 1.3rem;
  border-radius: 0 0 variables.$radius-3 variables.$radius-3;
}
.body {
  padding: 1rem 1.3rem;
}
.header_inputs{
  width: 80px;
}
.header_section{
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.title {
  color: white;
  line-height: 30px;
  margin-bottom: 2rem;
}
.nutrition_info {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
//list overlay
.search {
  position: relative;
  background-color: white;
  margin-top: -15px;
}
.list, .skeleton_list {
  padding: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  border-radius: 0 0 .3rem .3rem;
  overflow-x: hidden;
  max-height: 300px;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.search_element{
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .5s;
  user-select: none;
  position: relative;
  z-index: 101;
}
.search_element:hover{
  background: #eee;
}
.no_results {
  padding: .5rem 1rem;
  text-align: center;
}

.skeleton_item{
  width: 90%;
  margin: .2rem 0;
}
.skeleton_list {
  padding: .7rem;
}