@use './sass/colors.scss';

.layout {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  background-color: colors.$white;
  min-height: 100vh;
}
*:focus::-moz-focus-inner {
  border: none;
}
.rg-24{
  font-size: 18pt;
  font-weight: 400;
}

.md-16{
  font-size: 16px;
  font-weight: 500;
}
.rg-26{
  font-size: 1.65rem;
  font-weight: 400;
}
.rg-20{
  font-size: 1.25rem;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba($color: #fff, $alpha: .7);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
