@use './sass/colors.scss';

.layout {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  background-color: colors.$white;
  min-height: 100vh;
}
::-moz-focus-inner {
  border: 0;
}
.rg-24{
  font-size: 18pt;
  font-weight: 400;
}

.md-16{
  font-size: 16px;
  font-weight: 500;
}
.rg-26{
  font-size: 1.65rem;
  font-weight: 400;
}
.rg-20{
  font-size: 1.25rem;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}