.search {
  position: relative;
  background-color: white;
  margin-top: -15px;
}
.list, .skeleton_list {
  padding: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  border-radius: 0 0 .3rem .3rem;
  overflow-x: hidden;
  max-height: 300px;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.search_element{
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .5s;
  user-select: none;
  position: relative;
  z-index: 101;
}
.search_element:hover{
  background: #eee;
}
.no_results {
  padding: .5rem 1rem;
  text-align: center;
}

.skeleton_item{
  width: 90%;
  margin: .2rem 0;
}
.skeleton_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ingredient_list{

}
.ingredient_item{
  display: flex;
  justify-content: space-between;
  padding: .3rem;
  transition: .5s;
  border-radius: .5rem;
  align-items: center;
}
.ingredient_item:hover {
  background-color: #eee;

}
.ingredient_input {
  position: relative;
  width: 4.5rem;

}
.ingredient_name {
  text-overflow: '-';
overflow: hidden;
white-space: nowrap;
max-width: 170px;
display: inline-block;
}
.label_input{
  font-size: .7em;
  z-index: 7000;
  top: -10px;
  user-select: none;
  background-color: white;
  border-radius: .3rem;
  display: inline-block;  
  left: 5px;
  position: absolute;
}
@media screen and (min-width: 740px) {
  .ingredient_name {
    max-width: 500px;
  }
}