.middle_box{
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  max-width: 30rem;
  width: 95%;
}

.middle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}